@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@500&family=Titillium+Web:wght@300;700&display=swap');

.background{
    min-height: 100vh;
    background-image: url('./images/main-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-container{
    background-color: rgba(0, 0, 0, 0.576);
    width: 60vw;
    height: 50vh;
    border-radius: 8px;
    padding: 30px;
    color: white;
}
.user-data{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    align-items: center;
}
.user-data div {
    width: 230px;
}
.data-title{
    color: rgb(193, 193, 193);
}
.user-bio{
    display: flex;
    justify-content: flex-start;
    gap: 3rem;
}
.user-bio div {
    width: 230px;
}
.edit-button{
    width: 40%;
    height: 50%;
    background-color: #FFB343;
    border: none;
    padding: 10px;
    font-weight: bold; 
    font-size: 16px; /*1366x1.18=16.1*/
}